language: generic
sudo: required
services:
  - docker

before_install:
  - docker build - t habrich001/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true USERNAME/react-test npm test -- --coverage

after_success:
  - docker build -t habrich001/multi-client ./client
  - docker build -t habrich001/multi-nginx ./nginx
  - docker build -t habrich001/multi-server ./server
  - docker build -t habrich001/multi-worker ./worker
  #Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push habrich001/multi-client
  - docker push habrich001/multi-nginx
  - docker push habrich001/multi-server
  - docker push habrich001/multi-worker 